<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3f4a4">  <td>21/06/28 15:23:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trains_TestCase.baseNavigation()[pri:0, instance:com.mmtrip.testcases.Trains_TestCase@3bf9ce3e]">baseNavigation</td> 
  <td>main@599984672</td>   <td></td> </tr>
<tr bgcolor="b3f4a4">  <td>21/06/28 15:23:25</td>   <td>5372</td> <td>&nbsp;</td><td title="&lt;&lt;Trains_TestCase.closedriver()[pri:0, instance:com.mmtrip.testcases.Trains_TestCase@3bf9ce3e]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@599984672</td>   <td></td> </tr>
<tr bgcolor="b3f4a4">  <td>21/06/28 15:23:13</td>   <td>-6371</td> <td>&nbsp;</td><td title="&gt;&gt;Trains_TestCase.startDriver()[pri:0, instance:com.mmtrip.testcases.Trains_TestCase@3bf9ce3e]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@599984672</td>   <td></td> </tr>
</table>
