<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4697c">  <td>21/06/28 15:21:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Hotels_TestCase.startDriver()[pri:0, instance:com.mmtrip.testcases.Hotels_TestCase@4671115f]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@818436144</td>   <td></td> </tr>
<tr bgcolor="87c9e8">  <td>21/06/28 15:21:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Trains_TestCase.startDriver()[pri:0, instance:com.mmtrip.testcases.Trains_TestCase@37e4d7bb]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1826119332</td>   <td></td> </tr>
<tr bgcolor="b3a5dc">  <td>21/06/28 15:21:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Landing_TestCase.startDriver()[pri:0, instance:com.mmtrip.testcases.Landing_TestCase@1b75c2e3]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@2092245705</td>   <td></td> </tr>
<tr bgcolor="63e2ac">  <td>21/06/28 15:21:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Giftcard_TestCase.startDriver()[pri:0, instance:com.mmtrip.testcases.Giftcard_TestCase@65b104b9]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@49726164</td>   <td></td> </tr>
<tr bgcolor="b67cb6">  <td>21/06/28 15:21:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RoundTrip_TestCase.startDriver()[pri:0, instance:com.mmtrip.testcases.RoundTrip_TestCase@2e48362c]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1434004940</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>21/06/28 15:21:39</td>   <td>22943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hotels_TestCase.baseNavigation()[pri:0, instance:com.mmtrip.testcases.Hotels_TestCase@4671115f]">baseNavigation</td> 
  <td>TestNG-tests-2@818436144</td>   <td></td> </tr>
<tr bgcolor="b3a5dc">  <td>21/06/28 15:21:40</td>   <td>24219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Landing_TestCase.baseNavigation()[pri:0, instance:com.mmtrip.testcases.Landing_TestCase@1b75c2e3]">baseNavigation</td> 
  <td>TestNG-tests-4@2092245705</td>   <td></td> </tr>
<tr bgcolor="63e2ac">  <td>21/06/28 15:21:41</td>   <td>25379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Giftcard_TestCase.baseNavigation()[pri:0, instance:com.mmtrip.testcases.Giftcard_TestCase@65b104b9]">baseNavigation</td> 
  <td>TestNG-tests-5@49726164</td>   <td></td> </tr>
<tr bgcolor="b67cb6">  <td>21/06/28 15:21:41</td>   <td>25691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RoundTrip_TestCase.baseNavigation()[pri:0, instance:com.mmtrip.testcases.RoundTrip_TestCase@2e48362c]">baseNavigation</td> 
  <td>TestNG-tests-3@1434004940</td>   <td></td> </tr>
<tr bgcolor="87c9e8">  <td>21/06/28 15:21:42</td>   <td>26214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trains_TestCase.baseNavigation()[pri:0, instance:com.mmtrip.testcases.Trains_TestCase@37e4d7bb]">baseNavigation</td> 
  <td>TestNG-tests-1@1826119332</td>   <td></td> </tr>
<tr bgcolor="87c9e8">  <td>21/06/28 15:21:49</td>   <td>33118</td> <td>&nbsp;</td><td title="&lt;&lt;Trains_TestCase.closedriver()[pri:0, instance:com.mmtrip.testcases.Trains_TestCase@37e4d7bb]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1826119332</td>   <td></td> </tr>
<tr bgcolor="b3a5dc">  <td>21/06/28 15:21:51</td>   <td>35349</td> <td>&nbsp;</td><td title="&lt;&lt;Landing_TestCase.closedriver()[pri:0, instance:com.mmtrip.testcases.Landing_TestCase@1b75c2e3]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@2092245705</td>   <td></td> </tr>
<tr bgcolor="63e2ac">  <td>21/06/28 15:21:56</td>   <td>40494</td> <td>&nbsp;</td><td title="&lt;&lt;Giftcard_TestCase.closedriver()[pri:0, instance:com.mmtrip.testcases.Giftcard_TestCase@65b104b9]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@49726164</td>   <td></td> </tr>
<tr bgcolor="b67cb6">  <td>21/06/28 15:22:05</td>   <td>49129</td> <td>&nbsp;</td><td title="&lt;&lt;RoundTrip_TestCase.closedriver()[pri:0, instance:com.mmtrip.testcases.RoundTrip_TestCase@2e48362c]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1434004940</td>   <td></td> </tr>
<tr bgcolor="b4697c">  <td>21/06/28 15:22:05</td>   <td>49656</td> <td>&nbsp;</td><td title="&lt;&lt;Hotels_TestCase.closedriver()[pri:0, instance:com.mmtrip.testcases.Hotels_TestCase@4671115f]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@818436144</td>   <td></td> </tr>
</table>
